body {
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    background-color: #e6e6e6;
    position: relative;
}
input, button {
    font-family: 'Kanit', sans-serif;
}
.app-container {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    max-width: 1200px;
    margin: 0px auto;
}
.data-container {
    display: none;
}
h1 {
    width: 100%;
    z-index: 2;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 20px 0px;
    margin: 0px auto;
    background-color: white;
    color: #D13B52;
}
.country-info {
    max-width: 100%;
    margin-bottom: 12px;
}
#intro-text {
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 0px 24px;
}
.how-to-text {
    color: #D13B52;
    font-size: 16px;
    padding: 0px 48px;
}
.show-more-info {
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
}
.country-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media all and (max-width: 1099px) {
    .country-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media all and (max-width: 899px) {
    .country-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media all and (max-width: 699px) {
    .country-list {
        grid-template-columns: 1fr 1fr;
    }
}
.country-picker {
    margin: 4px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: border-color 0.21s;
}
.country-picker.right {
    display: inline-flex;
    margin: 4px 0px;
}
.country-picker.selected {
    border: 2px solid #D13B52;
}
.comparer {
    text-align: center;
}
.option-wrap {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin: 20px auto;
    justify-content: space-between;
}
.time-duration-wrap {
    text-align: right;
    max-width: 50%;
}
.tdw-inner {
    display: flex;
    justify-content: flex-end;
    height: 37px;
}
#no-future-warning {
    color: #D13B52;
    font-size: 14px;
    line-height: 18px;
    margin: 0px 20px 10px;
}
h3 {
    min-width: 50%;
    font-size: 18px;
    margin: 10px;
}
button {
    box-shadow: 1px 1px 14px -8px #222;
    border: none;
    background-color: white;
    padding: 10px 20px;
    outline: none;
}
button:hover {
    cursor: pointer;
}
.option-wrap.no-flex {
    display: block;
    padding-top: 8px;
}
.option-wrap.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
    position: sticky;
    z-index: 2;
    top: 20px;
    margin-top: 32px;
    box-shadow: 1px 1px 14px -8px #222;
}
@media all and (max-width: 799px) {
    .option-wrap.flex {
        flex-direction: column;
    }
    .option-inner-wrap {
        margin: 10px auto;
    }
}
.graph-wrap {
    box-shadow: 1px 1px 14px -8px #222;
    padding: 20px;
    background-color: white;
}
.checkbox {
    display: block;
    border: 2px solid #777;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color 0.21s, border-color 0.21s;
    margin-right: 8px;
}
.checkbox.selected {
    border: 2px solid #D13B52;
    background-color: #D13B52;
}
.checkbox i {
    color: white;
    font-size: 17px;
}
input {
    border: 2px solid #D13B52;
    border-radius: 4px;
    outline: none;
    padding: 6px 10px;
}
input#match-at {
    font-size: 24px;
    width: 120px;
}
input#match-at-date {
    font-size: 18px;
    width: 194px;
}
button#mode-switch {
    border: 2px solid #D13B52;
    box-shadow: none;
    font-size: 19px;
    border-radius: 4px;
}
.time-duration-wrap p {
    margin: 4px 8px;
    line-height: 29px;
}
.time-duration-wrap input {
    width: 70px;
}
.footer {
    border-top: 1px solid #777;
    width: 50%;
    max-width: 600px;
    margin: 40px auto;
    padding-top: 20px;
    color: #444;
}
button:disabled {
    background-color: #f1f1f1;
    color: #aaa;
    cursor: default;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.days-ahead-wrap {
    margin-bottom: 12px;
}
.days-ahead {
    color: #444;
    margin: 4px 12px;
    font-size: 14px;
    text-align: left;
}
.days-ahead-title {
    color: #D13B52;
    margin: 4px 12px;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    text-align: left;
}