body {
    margin: 0px;
}
.app-container {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}
.data-container {
    display: none;
}
p {
    font-size: 20px;
}
.country-info {
    max-width: 100%;
    margin-bottom: 12px;
}
.country-picker.selected {
    background-color: red;
}